*{
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background-color:#20382b;
    color:#333;
}

#menu{
    background-color:#20382b;
    width: 100%;
    height:80px;
    display:flex;
    align-items:center;
    position: fixed;
    top: 0;
}

#menu img{
    width:90px;
    margin-left:30px;
}

#links{
    margin-left:auto;
    margin-right:30px;
}

#links a{
    color:#d4af37;
    text-decoration:none;
    margin-left:25px;
}

#links a:hover{
    color:#c9a45c;
}

#boton{
    background-color:#c9a45c;
    color:white;
    padding:10px 18px;
    text-decoration:none;
    margin-right:20px;
}

#inicio{
    height:500px;
    background-image:url("https://lh3.googleusercontent.com/sitesv/AG8ngQUO6susZI366M03ZSf8bMNIgGyeK9rtP5d0T4cVUG_uMWs9zeTcMgn2Gm1RlnaJTL577Qf19TCiAnFpNa3iskv-szVUOiVPOv67TVn2OQY0YTqrlEr3UpHJWPrxNopwgTf_macQ-iozC-XeEh77HHeu3gJSL5VmJhTYrugZ3Tmgv1OC4-u4uWlhfKh6l5rgGJH06ovNedexwlkdrB42j9lDLbSVHt-SKoc9qs8DzPk=w1280");
    background-size:contain;
    background-position:center;
    text-align:center;
    color:white;
    padding-top:120px;
}

#inicio h1{
    font-size:55px;
}

#inicio p{
    font-size:20px;
}

#titulo{
    text-align:center;
    color:#d4af37;
    margin-top:120px;
}

.subtitulo{
    text-align:center;
    color:#d4af37;
    margin-top:30px;
}

.titulo{
    text-align: center;
    color: #d4af37;
}

h2.titulo{
    margin-top: 30px;
}

#contenedor{
    width:85%;
    margin:auto;
    margin-top:50px;
    text-align:center;
}

.grupo{
    background-color:rgb(24, 24, 24);
    border:1px solid #ddd;
    width:200px;
    height:320px;
    display:inline-block;
    vertical-align:top;
    margin:10px;
    padding:10px;
    text-align:center;
    border-radius:10px;
    box-shadow:4px 4px 10px white;
}

.grupo img{
    width:180px;
    height:160px;
    object-fit:contain;
}

#pie{
    background-color:#182d22;
    color:white;
    padding:30px;
    text-align:center;
    margin-top:50px;
    margin-left:3%;
    margin-right:3%;
}

#pie h3{
    color:#d4af37;
    font-size:22px;
    margin-bottom:8px;
}

#imagen img{
    width:100px;
    margin-left:50px;
}
.linea{
    width:75%;
    margin:20px auto;
    border-top:1px solid #d4af37;
}

.redes{
    margin-top:20px;
    margin-bottom:20px;
}

.redes a{
    display:inline-block;
    color:#d4af37;
    font-size:22px;
    margin:0 8px;
    text-decoration:none;
    line-height:40px;
}

.redes a:hover{
    background-color:#d4af37;
    color:#20382b;
}

#formulario{
    background-color:white;
    width:500px;
    margin:40px auto;
    padding:30px;
    border:1px solid #ddd;
}

#formulario label{
    display:block;
    margin-top:15px;
    color:#20382b;
}

#formulario input,
#formulario select,
#formulario textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
}

#enviar{
    margin-top:20px;
    background-color:#20382b;
    color:white;
    border:0;
    padding:12px 25px;
}

#contenedor .grupo img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#contenedor .inicio{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    box-shadow: 4px 4px 10px white;
}

.grupo p{
    color: #d4af37;
    padding: 7px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
}

p {
    color: #d4af37;
}

.grupo h3{
    color: #d4af37;
    margin-top: 0px;
    margin-bottom: 10px;
}

.grupo button{
    border: none;
    width: 50%;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px gray;
}

.grupo button:hover{
    background-color: #d4af37;
    color: black;
    box-shadow: 2px 2px 4px gray;
}

.contacto h3{
    font-size:20px;
    color:  #d4af37;
}

.compania h3{
    font-size:20px;
    color:  #d4af37;
}

/* pantalla movil */
@media(max-width: 480px){
    #contenedor{
        width: 100%;
    }

    #contenedor .grupo{
        display: block;
        margin: 10px auto;
    }
}

/* pantalla grande */
@media(min-width: 769px) and (max-width: 1200px){
    #contenedor .grupo{
        width: 200px;
    }
}